%html
  %head
    %html{html_attrs}
    %link{:href => '/stylesheet.css', :media => "screen", :rel => "stylesheet", :type => "text/css"}
    %meta{:name => 'keywords', :content => 'Ian, nerd, mac, sinatra, ruby, imac'}
    %meta{:name => 'description', :content => 'I.A.N. - Intelligent Artificial Nerd'}
    %meta{:name => 'author', :content => 'Andrew Nesbitt'}
    %title
      I.A.N.
  %body
    %div{:id => 'face'}
      %div{:id => 'left', :class => 'eye'} o
      %div{:id => 'right', :class => 'eye'} o
      %div{:id => 'mouth'} -